/* 全局配置 */
body{
    width: 375px;
    height: 667px;
    min-width: 375px;
    background-color: rgb(245,245,245);
}
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}

/* 上面状态栏 */
.bar {
    width: 100%;
    height: 85px;
    float: left;
    border-bottom: 1px solid rgba(136, 136, 136, 0.438);
}
/* 头像 */
.bar .HeadPortrait img{
    margin: 10px 0 0 10px;
    float: left;
    width: 65px;
    height: 65px;
    border: 1px solid rgba(136, 136, 136, 0.438);
    border-radius: 50%;
}
/* 未登录 */
.bar .NoHeadPortrait{
    float: left;
    font-size: 26px;
    font-weight:bold;
    line-height: 80px;
    margin-left: 15px;
}
/* 点击登录 */
.bar .TheLogin a{
    float: right;
    line-height: 80px;
    font-size: 17px;
    margin-right: 20px;
    color: rgba(114, 114, 114, 0.87);
}

/* 左边图标状态栏 */
.LeftBar{
    margin: 15px 0 15px 15px;
    float: left;
}
.LeftBar ul li{
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
.LeftBar ul li img{
    width: 45px;
    height: 45px;
}
.LeftBar ul .fot1 img{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 13px;
}
.LeftBar ul .fot2 img{
    width: 80px;
    height: 80px;
    margin: 45px 10px 10px -15px;
}


/* 新手教程 */
.TheTutorial{
    float: left;
    margin: 20px 1px 10px 1px;
    width: 270px;
    height: 90px;
}
/* 新手教程背景白色图片 */
.TheTutorial .xsjc_bj{
    margin-top: 10px;
    background-color: white;
    width: 270px;
    height: 90px;
    text-align: center;
    border-radius: 10px;
}
/* 新手教程标题 */
.TheTutorial h3,
.VersionQuotation h3,
.take_out h3{
    text-align: center;
}
/* 新手教程内容图片 */
.TheTutorial .xsjc_bj img{
    padding-top: 10px;
    width: 245px;
    height: 70px;
    border-radius: 9px;
}


/* 吃货语录 */
.VersionQuotation{
    float: left;
    margin: 40px 1px 10px 1px;
    width: 270px;
    height: 90px;
}
/* 时间调整 */
.VersionQuotation p{
    text-align: center;
    padding: 8px;
}
.VersionQuotation img{
    width: 50px;
    height: ;
}
/* 白色背景 */
.VersionQuotation .chyl_bj{
    margin-top: 10px;
    background-color: white;
    width: 270px;
    height: 115px;
    text-align: center;
    border-radius: 10px;
}
/* 文字背景 */
.VersionQuotation .chyl_nr{
    background-color: rgb(253,247,237);
    width: 240px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid rgb(51,51,51);
    margin-left: 12.5px;
}
/* 内容调整 */
.VersionQuotation .chyl_nr p{
    text-align: left;
}