/* 全局配置 */
body{
    width: 370px;
    height: 667px;
    min-width: 370px;
}
a{
    text-decoration: none;
    color: black;
}

/* 上面状态栏 */
.bar {
    width: 100%;
    height: 50px;
    float: left;
}
/* 头像 */
.bar .HeadPortrait img{
    float: left;
    width: 70px;
    height: 70px;
}
/* 未登录 */
.bar .NoHeadPortrait{
    float: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
}
/* 点击登录 */
.bar .TheLogin{
    float: right;
}