/* 全局配置 */
body{
    width: 370px;
    height: 667px;
    min-width: 370px;
}
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0;
    margin: 0;
}

/* 上面状态栏 */
.bar {
    margin: 10px;
    width: 100%;
    height: 80px;
    float: left;
    border-bottom: 1px solid rgba(136, 136, 136, 0.438);
}
/* 头像 */
.bar .HeadPortrait img{
    float: left;
    width: 65px;
    height: 65px;
    border: 1px solid rgba(136, 136, 136, 0.438);
    border-radius: 50%;
}
/* 未登录 */
.bar .NoHeadPortrait{
    float: left;
    font-size: 26px;
    font-weight:bold;
    line-height: 70px;
    margin-left: 15px;
}
/* 点击登录 */
.bar .TheLogin a{
    float: right;
    line-height: 70px;
    font-size: 17px;
    margin-right: 20px;
    color: rgba(114, 114, 114, 0.87);
}
hr{
    width: 100%;
    size: ;
}