/* 全局配置 */
body{
    width: 370px;
    height: 667px;
    min-width: 370px;
}
a{
    text-decoration: none;
    color: black;
}

/* 上面状态栏 */
.bar {
    width: 100%;
    height: 50px;
    float: left;
}
.bar .HeadPortrait img{
    float: left;
    width: 80px;
    height: 80px;
}
.bar .NoHeadPortrait{
    float: left
}
.bar .TheLogin{
    float: right;
}