/* 全局配置 */
body{
    width: 667px;
    height: 375px;
    min-width: 667px;
}
a{
    text-decoration: none;
    color: black;
}

/* 上面状态栏 */
.bar {
    width: 100%;
    height: 50px;
    float: left;
}
.bar .HeadPortrait{

}