/* 全局配置 */
a{
    color: rgb(34, 34, 34);
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
em{
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1530px;
    width: 1530px;
    height: 1500px;
}

.body .head{
    width: 100%;
    height: 57px;
    background-color: #7f8fef;
}
.head .head_left a{
    margin: 0 60px;
    line-height: 57px;
    font-size: 18px;
    float: left;
    color: white;
}
.head .head_center .active a{
    color: white;
}
.head .head_center a{
    color: #d2dcfa;
    font-size: 16px;
    float: left;
    line-height: 57px;
    margin: 0 35px;
}
.head .head_right{
    margin-right: 50px;
}

/* 账号数字 */
.head .head_right span,a{
    font-size: 15px;
    float: right;
    font-size: 13px;
    line-height: 57px;
    color: white;
    margin-right: 8px;
}

/* 客服消息 */
.head .head_right span a{
    
    line-height: normal;
    font-size: 15px;
    margin-top: 11px;
    padding: 6px 9px;
    border-radius: 3px;
    border: 1px solid white;
}
.head .head_right span .head_right_sjx{
    position:absolute;
    top: 25px;
    right: 24px;
    border: 6px solid transparent;
    border-bottom: none;
    border-top-color: rgb(255, 255, 255);
}