/* 全局配置 */
a{
    color: rgb(34, 34, 34);
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
em{
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1530px;
    width: 1530px;
    height: 1500px;
}

/* 状态栏 */
.body .head{
    width: 100%;
    height: 57px;
    background-color: #7f8fef;
}
/* 芝麻客服 */
.head .head_left a{
    margin-right: 60px;
    line-height: 57px;
    font-size: 18px;
    float: left;
    color: white;
}
/* 芝麻客服图片 */
.head .head_left img{
    position: relative;
    top: 14px;
    left: -10px;
    float: left;
    margin-left:60px;
    
}
/* 客服系统 */
.head .head_center .active a{
    color: white;
}
/* 客服系统下划线 */
.head .head_center .active img{
    position: absolute;
    width: 45px;
    top: 22px;
    left: 265px;
}
/* 客服系统状态栏 */
.head .head_center a{
    color: #d2dcfa;
    font-size: 16px;
    float: left;
    line-height: 57px;
    margin: 0 35px;
}
.head .head_right{
    margin-right: 50px;
}

/* 账号数字 */
.head .head_right span,a{
    font-size: 15px;
    float: right;
    font-size: 13px;
    line-height: 57px;
    color: white;
    margin-right: 8px;
}

/* 客服消息 */
.head .head_right span a{
    letter-spacing: 1px;
    line-height: normal;
    font-size: 13px;
    margin-top: 12px;
    padding: 6px 9px;
    border-radius: 3px;
    border: 1px solid white;
}
/* 账号右边三角形 */
.head .head_right span .head_right_sjx{
    position:absolute;
    top: 25px;
    right: 24px;
    border: 6px solid transparent;
    border-bottom: none;
    border-top-color: rgb(255, 255, 255);
}
.head a:hover{
    color: white;
}

/* 二级状态栏 */
.navbar{
    height: 55px;
    width: 100%;
    float: left;
    margin-left: 30px;
}

.navbar ul a{
    line-height: normal;
    color: black;
    float: left;
    margin: 12px;
    border-radius: 30px;
}
.navbar ul .navbar_img1 a{
    padding: 5px 18px;
    color: #829cff;
    border: 1px solid #829cff;
}
.navbar ul .navbar_img2 a{
    padding: 7px 13px;
    background-color: #8eb4ff;
    color: white;
}
.navbar ul .navbar_img3 a{
    padding: 7px 13px;
    color: black;
    background-color: #f2f4f5;
}
.navbar ul .navbar_img1 img,.navbar_img3 img{
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}
.navbar ul .navbar_right a{
    margin-right: 65px;
    float: right;
    padding: 5px 18px;
    color: #829cff;
    border: 1px solid #829cff;
}
.navbar ul .navbar_right img{
    margin-left: 5px;
}


/* 左边竖目录 */
.left_body{
    float: left;
    width: 175px;
    height: 1080px;
    background-color: #ffffff;
    position: relative;
}
.left_body ul li{
    margin: 20px 0;
    text-align: left;
    position: relative;
    left: 70px;
}
.left_body ul li .left_body_imgleft{
    position: relative;
    top: 5px;
    margin-right: 8px;
}
.left_body ul li .left_body_imgright{
    position: absolute;
    right: 20px;
    margin-top: 10px;
}
.left_body ul li:hover{
    color: #7f8fef;
    cursor: pointer;
}

.left_body .left_body_show{
    height: 310px;
}
.left_body .left_body_show li{
    margin: 0;
    padding: 10px 54px;
    position: relative;
    left: 39px;
    width: 110px;
}

.left_body .left_body_show li:hover{
    background-color: #f6f5fa;
    border-right: 4px solid#7f8fef;
}


/* 右边主体第一个标题栏 */
.body .right_body{
    height: 830px;
    width: 1270px;
    float: left;
    margin-left: 85px;
    background-color: #f5f5f5;
}
.right_body .right_body_ztl ul a{
    line-height: normal;
    color: black;
    float: left;
    margin: 12px;
    border-radius: 30px;
}
.right_body .right_body_ztl ul .right_body_ztlimg a{
    padding: 5px 10px;
    color: #829cff;
    border: 1px solid #829cff;
}
.right_body .right_body_ztl ul .right_body_ztlimg1 a{
    padding: 5px 8px;
    color: #a7a7a7;
    border: 1px solid #8f8f8f;
}
.right_body .right_body_ztl ul .right_body_ztlimg2 a{
    padding: 5px 18px;
    color: #ffffff;
    background-color: #829cff;
}
.right_body .right_body_ztl ul .right_body_ztlimg img{
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}

/* AI推荐回复 */
.right_body .right_body_AI{
    height: 150px;
    width: 1220px;
    float: left;
    margin-left: 20px;
    background-color: #ffffff;
    position: relative;
    bor
}
.right_body .right_body_AI .right_body_AIbt{
    width: 200px;
    height: 50px;
    position: relative;
}
.right_body .right_body_AI .right_body_AIbt>p{
    font-weight: bold;
    color: black;
    float: left;
    font-size: 19px;
    padding: 5px;
    margin: 8px;
}
.right_body .right_body_AI .right_body_AIbt span{
    border-radius: 30px;
    background-color: #f9a755;
    padding: 3px 5px;
    float: left;
    font-size: 8px;
    position:absolute;
    top: 17px;
    left: 120px;
}
.right_body .right_body_AI .right_body_AInr img{
    position: absolute;
    top: 66px;
    left: 30px;
}
.right_body .right_body_AI .right_body_AInr{
    padding: 15px 35px;
    margin: 1px 15px;
    font-size: 10px;
    background-color: #fffbe6;
    border: 1px solid #f9a755;
}


