/* 全局配置 */
a{
    color: rgb(104, 104, 104);
    text-decoration: none;
}
ul ol{
    list-style: none;
}
em{
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1530px;
    width: 1530px;
    height: 1500px;
}

.head{
    width: 100%;
    height: ;
}
.body .head .head_left a{
    
}