/* 全局配置 */
a{
    color: rgb(34, 34, 34);
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
em{
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1530px;
    width: 1530px;
    height: 1500px;
}

.head{
    width: 100%;
    height: 50px;
    background-color: #7f8fef;
}
.body .head .head_left a{
    margin: 0 60px;
    line-height: 50px;
    float: left;
}
.body .head .head_center a{
    float: left;
    line-height: 50px;
    margin: 0 30px;
}
.body .head .head_right span{
    float: right;
    line-height: 50px;
}