/* 全局配置 */
a{
    color: rgb(34, 34, 34);
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
em{
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1530px;
    width: 1530px;
    height: 1500px;
}

.head{
    width: 100%;
    height: 57px;
    background-color: #7f8fef;
}
.body .head .head_left a{
    margin: auto 85px;
}