/* 全局样式 */
body{
    width: 100%;
    min-width: 1500px;
    height: 2500px; 
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: #b0b0b0;
    text-decoration: none;
}


/* 顶部状态栏 */
.ztl{
    width: 100%;
    height: 40px;
    background-color: #333;
}
.ztl_left_select li{
    float: left;
    margin: 0 8px;
    line-height: 40px;
    font-size: 12px;
}
.ztl_left_select{
    margin-left: 82px;
}
.ztl_left_select span{
    color:#424242;
}
.ztl li a:hover{
    color: #FF6700;

}
.ztl_left_select li a{
    display: block;
}
.ztl_left{
    margin: 0 auto;
}
.ztl_right_rig li{
    float: left;
    margin-left: 20px;
    font-size: 12px;
    
}
.ztl_gwc{
    margin-right: 40px;
}
.ztl_gwc a{
    float: right;
    width: 120px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    background-color: rgba(77, 77, 77, 0.877);;
    margin-right: 50px;
}
.ztl_gwc:hover a{
    color:#FF6700;
    background-color: white;
}

.ztl_right{
    float: right; 
    padding-right: 30px;
}
.ztl_right_rig li{
    line-height: 40px;
}



.app{
    position: relative;
}
li:hover>.app::after{
    content: '';
    position: absolute;
    bottom:  0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: rgb(255, 255, 255);
}
/* 小米商城APP弹出窗 */
.app .qrc{
    z-index: 5;
    position: absolute;
    left: -38px;
    width: 134px;
    height: 0px;
    line-height: 10px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,.3);
    overflow: hidden;
    transition: height 0.5s;
}
li:hover>.app .qrc{
    height: 148px;
}
.app .qrc img{
    widows: 90px;
    margin: 12px;
    margin-bottom: 10px;
}



/* 购物车下拉窗 */
.ztl_gwc .gwc_gwc{
    z-index: 4;
    overflow: hidden;
    transition: height 0.5s;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    line-height: 140px;
    width: 300px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.ztl_gwc:hover>li .gwc_gwc{
    height: 150px;
}



.logo_left{
    width: 100%;
    height: 120px;
}
/* logo一行 */
.logo_left .logo img{
    float: left;
    width: 69px;
    height: 69px;
    margin: 20px 90px;
}
.logo_left .center .cen{
    margin-left: 150px;
}
.logo_left .center li{
    float: left;
    margin: 50px 10px;
}
.logo_left .center a{
    color: black;
}


/* 搜索框 */
.right_ssk{
    float: right;
    width: 380px;
    margin:41px 44px;
}
.right_ssk button{
    border: 1px solid rgb(189, 189, 189);
    border-left: none;
    
}
.right_ssk img{
    display: block;
    width: 49px;
    height: 45px;
    position: relative;
    z-index: 1;
}
.right_ssk .ssk_itn{
    float: left;
    display: block;
    width: 260px;
    height: 45px;
    padding: 0 10px;
    border:1px solid rgb(189, 189, 189);
    outline: none;
    position: relative;
    z-index: 2;
}
.right_ssk .ssk_itn:focus,
.right_ssk .ssk_itn:focus+button{
    outline: 1px solid #FF6700;
}


.logo_left .center a:hover{
    color: #FF6700;
}

/* 小米手机下拉框 */

.center .xmsj_tck{
    z-index: 5;
    width: 100%;
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
    position: absolute;
    top:159px;
    left: 0;
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow:0 15px 10px -12px rgba(0,0,0,.3); 
}
/* .cen:hover .xmsj_tck{
    border-top: 1px solid #b0b0b0;
    height: 285px;
    color: black;
} */
.center .show_one .show_good:hover ~ .xmsj_tck,.xmsj_tck:hover{
    border-top: 1px solid #b0b0b0;
    height: 285px;
    color: black;
}
.center ul .xmsj_tck li{
    margin: 60px 50px 80px;
    padding-left: 30px;
}
.center ul .xmsj_tck img{
    width: 120px;
    height: 140px;
}

.center ul .xmsj_tck li p+p{
    color: #FF6700;
}




/* 商品介绍菜单 */
/* .shangPinJieShaoCaiDan{
    width: 1340px;
    height: 573px;
    margin: 0 85px;
    float: left;
} */
.CaiDan_left{
        width: 290px;
        height: 394px;
        margin: 0 0 0 85px;
        background-color: rgb(157,155,155);
        float: left;
}

.CaiDan_left ul li{
    text-align: center;
    margin: 4px 0;
    padding: 7px 0;
    cursor: pointer;
}
.CaiDan_left li a{
   color: rgb(255, 255, 255);
   float: left;
   margin-left: 35px;
   font-size: 17px;
}
.CaiDan_left strong{
    margin-left: 80px;
    color: rgb(255, 255, 255);
    
}
.CaiDan_left .gt_gt1{
    position: relative;
    left: -8px;
}
.CaiDan_left .gt_gt2{
    position: relative;
    left: -16px;
}
/* 给菜单栏添加触碰反馈 */
.CaiDan_left .show_god:hover{
    background-color: #FF6700;
}
/* 商品介绍菜单的弹出框 */
.shangPinJieShaoCaiDan{
    position: relative;
}
.CaiDan_left .CaiDan_show{
    z-index: 5;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 375px;
    top: 1px;
    width: 1053px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    transition: height 0.01s;
}
.CaiDan_left .show_god:hover~.CaiDan_show{
    height: 395px;
}
.CaiDan_left .CaiDan_show img{
    width: 40px;
    height: 50px;
}
.CaiDan_left .CaiDan_show span{
    position: relative;
    top: -20px;
    font-size: 15px;
}
.CaiDan_left .CaiDan_show .CaiDan_show_li{
    text-align: left;
    z-index: 4;
    margin: 25px;
    float: left;
}


/* 商品菜单右边图片 */
.CaiDan_right{
    float: left;
    position: relative;
    top: -10px;
}
.CaiDan_right .CaiDan_right_img{
    width: 1050px;
    height: 394px;
    float: left;
    overflow: hidden;
} 
.CaiDan_right .CaiDan_right_img img{
    width: 1050px;
    height: 394px;
    
}

.shangPinJieShaoCaiDan .CaiDan_right .points li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: rgb(218, 218, 218);
    float: right;
    position: relative;
    top: -30px;
    left: -95px;
}
.CaiDan_right .points .active{
    background-color: rgb(173, 173, 173);
}
.CaiDan_right .prev{
    position: absolute;
    left: 10px;
    top: 158px;
    font-size: 50px;
    color: rgb(211, 211, 211);
}
.CaiDan_right .next{
    position: absolute;
    top: 158px;
    left: 1000px;
    font-size: 50px;
    color: rgb(211, 211, 211);
    float: right;
} 


/* 小米秒杀 */
.xiaoMiMiaoSha{
    width: 100%;
    height: 213px;
    float: left;
    
}
.xiaoMiMiaoSha .xiaoMiMiaoSha_left{
    width: 290px;
    height: 213px;
    float: left;
    background-color: rgb(96,87,82);
    margin: 5px 5px 10px 85px;
}
.xiaoMiMiaoSha .xiaoMiMiaoSha_left li{
    width: 85px;
    height: 68px;
    text-align: center;
    color: rgb(216, 206, 206);
    float: left;
    margin: 25px 0 0 10px;
    font-size: 10px;
}
.xiaoMiMiaoSha .xiaoMiMiaoSha_left li:hover{
    color: white;
    cursor: pointer;
}

.xiaoMiMiaoSha .redmi_9A img{
    float: left;
    width: 340px;
    height: 213px;
    margin: 5px 5px;
}
.xiaoMiMiaoSha .mi11 img{
    float: left;
    width: 340px;
    height: 213px;
    margin: 5px 5px;
}
.xiaoMiMiaoSha .ejpro img{
    float: left;
    width: 340px;
    height: 213px;
    margin: 5px 5px;
}
.xiaoMiMiaoSha .img_hov img:hover{
    box-shadow:0 5px 30px rgba(82, 82, 82, 0.3); 
    transition: box-shadow 0.3s;
    cursor: pointer;
}


/* 主体部分 */
.body{
    margin: 0;
    padding: 0;
    width: 100;
    float: left;
    background-color: rgb(132, 255, 214);
}